@model WebAssignment_2019_P03_Team06.Models.Lecturer

@{
    ViewData["Title"] = "ChangePassword";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    *, *:before, *:after {
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
    }

    body {
        font-family: 'Nunito', sans-serif;
        color: #384047;
    }

    form {
        max-width: 300px;
        margin: 10px auto;
        padding: 10px 20px;
        background: #f4f7f8;
        border-radius: 8px;
    }

    h1 {
        margin: 0 0 30px 0;
        text-align: center;
    }

    input[type="text"],
    input[type="password"],
    input[type="date"],
    input[type="datetime"],
    input[type="email"],
    input[type="number"],
    input[type="search"],
    input[type="tel"],
    input[type="time"],
    input[type="url"],
    textarea,
    select {
        background: rgba(255,255,255,0.1);
        border: none;
        font-size: 16px;
        height: auto;
        margin: 0;
        outline: 0;
        padding: 15px;
        width: 100%;
        background-color: #e8eeef;
        box-shadow: 0 1px 0 rgba(0,0,0,0.03) inset;
        margin-bottom: 30px;
    }

    input[type="radio"],
    input[type="checkbox"] {
        margin: 0 4px 8px 0;
    }

    select {
        padding: 6px;
        height: 32px;
        border-radius: 2px;
    }

    .button {
        padding: 19px 39px 18px 39px;
        color: #FFF;
        background-color: #4bc970;
        font-size: 18px;
        text-align: center;
        font-style: normal;
        border-radius: 5px;
        width: 100%;
        border: 1px solid #3ac162;
        border-width: 1px 1px 3px;
        box-shadow: 0 -1px 0 rgba(255,255,255,0.1) inset;
        margin-bottom: 10px;
    }

    fieldset {
        margin-bottom: 30px;
        border: none;
    }

    legend {
        font-size: 1.4em;
        margin-bottom: 10px;
    }

    label {
        display: block;
        margin-bottom: 8px;
    }

        label.light {
            font-weight: 300;
            display: inline;
        }

    .number {
        background-color: #5fcf80;
        color: #fff;
        height: 30px;
        width: 30px;
        display: inline-block;
        font-size: 0.8em;
        margin-right: 4px;
        line-height: 30px;
        text-align: center;
        text-shadow: 0 1px 0 rgba(255,255,255,0.2);
        border-radius: 100%;
    }
</style>

<h2 style="text-align: center">Change Password</h2>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="ChangePassword">

            <legend>Old password</legend>
            <div class="form-group">
                @*<label asp-for="oldLecturerPassword" class="control-label"></label>*@
                <input asp-for="oldLecturerPassword" type="password" class="form-control" />
                <span asp-validation-for="oldLecturerPassword" class="text-danger"></span>
            </div>

            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <legend>New Password</legend>
            <div class="form-group">
                @*<label asp-for="NewLecturerPassword" class="control-label"></label>*@
                <input asp-for="NewLecturerPassword"  type="password" class="form-control" />
                <span asp-validation-for="NewLecturerPassword" class="text-danger"></span>
            </div>

            <legend>Confirm Password</legend>
            <div class="form-group">
                @*<label asp-for="reNewLecturerPassword" class="control-label"></label>*@
                <input asp-for="reNewLecturerPassword"  type="password" class="form-control" />
                <span asp-validation-for="reNewLecturerPassword" class="text-danger"></span>
            </div>
            <div>
                <span style="color:red;">@ViewData["reply"]</span>

            </div>

            <div class="form-group">
                <input type="submit" value="Save" class="button" />
            </div>
        </form>
    </div>
</div>


