@model WebAssignment_2019_P03_Team06.Models.ProjectViewModel

@{
    ViewData["Title"] = "Add Project";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h4 class="PageTitle">New Project1</h4>
<hr/>
<form asp-action="Create">
    <fieldset class="FormContent">
        <div class="form-group row">
            <label asp-for="Title"
                   class="col-sm-3 col-form-label"></label>
            <div class="col-sm-9 col-md-5">
                <input asp-for="Title" class="form-control" />
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group row">
            <label asp-for="Descipition"
                   class="col-sm-3 col-form-label"></label>
            <div class="col-sm-9 col-md-5">
                <input asp-for="Descipition" class="form-control" />
                <span asp-validation-for="Descipition" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group row"> 
             <div class="col-sm-9 offset-sm-3"> 
                <input type="submit" value="Create" class="btn btn-primary" /> 
            </div> 
        </div> 
        <div> 
            <a asp-action="Index">Back to List</a> 
        </div>
    </fieldset>
</form>


