
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <!-- Unicode character encoding - multi-language compatibility -->
    <meta charset="utf-8">
    <!-- Set the initial view zooming scale for mobile device  -->
    <meta name="viewport" content="width = device-width,
          initial-scale = 1" />
    <title>Student e-Portfolio</title>
    <!-- Reference to customized styling for this website -->
    <link rel="stylesheet" type="text/css" href="~/css/Site.css">

    <style>
        *, *:before, *:after {
            -moz-box-sizing: b
                
                -box;
            -webkit-box-sizing: border-box;
            box-sizing: border-box;
        }

        body {
            font-family: 'Nunito', sans-serif;
            color: #384047;
        }

        form {
            max-width: 300px;
            margin: 10px auto;
            padding: 10px 20px;
            background: #f4f7f8;
            border-radius: 8px;
        }

        h1 {
            margin: 0 0 30px 0;
            text-align: center;
        }

        input[type="text"],
        input[type="password"],
        input[type="date"],
        input[type="datetime"],
        input[type="email"],
        input[type="number"],
        input[type="search"],
        input[type="tel"],
        input[type="time"],
        input[type="url"],
        textarea,
        select {
            background: rgba(255,255,255,0.1);
            border: none;
            font-size: 16px;
            height: auto;
            margin: 0;
            outline: 0;
            padding: 15px;
            width: 100%;
            background-color: #e8eeef;
       
            box-shadow: 0 1px 0 rgba(0,0,0,0.03) inset;
            margin-bottom: 30px;
        }

        input[type="radio"],
        input[type="checkbox"] {
            margin: 0 4px 8px 0;
        }

        select {
            padding: 6px;
            height: 32px;
            border-radius: 2px;
        }

        button {
            padding: 19px 39px 18px 39px;
            color: #FFF;
            background-color: #4bc970;
            font-size: 18px;
            text-align: center;
            font-style: normal;
            border-radius: 5px;
            width: 100%;
            border: 1px solid #3ac162;
            border-width: 1px 1px 3px;
            box-shadow: 0 -1px 0 rgba(255,255,255,0.1) inset;
            margin-bottom: 10px;
        }

        fieldset {
            margin-bottom: 30px;
            border: none;
        }

        legend {
            font-size: 1.4em;
            margin-bottom: 10px;
        }

        label {
            display: block;
            margin-bottom: 8px;
        }

            label.light {
                font-weight: 300;
                display: inline;
            }

        .number {
            background-color: #5fcf80;
            color: #fff;
            height: 30px;
            width: 30px;
            display: inline-block;
            font-size: 0.8em;
            margin-right: 4px;
            line-height: 30px;
            text-align: center;
            text-shadow: 0 1px 0 rgba(255,255,255,0.2);
            border-radius: 100%;
        }
    </style>
</head>

<body background="~/images/background.jpg">



    <div class="topnav">
        <a class="active" href="~/Home/Index">HOME</a>
        <a href="#">DIRECTOR'S MESSAGE</a>
        <a href="/Home/Create">CREATE STUDENT ACCOUNT</a>
        <a href="/Home/LecturerCreate">CREATE LECTURER ACCOUNT</a>
    </div>


    @model WebAssignment_2019_P03_Team06.Models.Student
    <h1>Sign Up</h1>

<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            @*<legend><span class="number">1</span>Student ID</legend>*@
            @*<div class="form-group">
            <input asp-for="StudentId" class="form-control" />
            <span asp-validation-for="StudentId" class="text-danger"></span>
        </div>*@

            <legend><span class="number">1</span>Course</legend>
            <div class="form-group">
                @*<input asp-for="Course" class="form-control" />*@
              
                <select id="myList" asp-for="Course" class="form-control" margin="10px" >
                    <option value="FI">FI</option>
                    <option value="IT">IT</option>              
                </select>
                <span asp-validation-for="Course" class="text-danger"></span>
            </div>

            <legend><span class="number">2</span>Name</legend>
            <div class="form-group">
                <input asp-for="Name" class="form-control" maxlength="50" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>

            <legend><span class="number">3</span>Email</legend>
            <div class="form-group">
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>

           
            <div class="form-group">
                <input asp-for="Password" class="form-control" type="hidden" value="p@55Student" readonly/>
                <span asp-validation-for="Password" class="text-danger" ></span>
            </div>

            

            


            <legend><span class="number">4</span>Mentor ID</legend>
            <div class="form-group">
                <input asp-for="MentorId" class="form-control" />
                <span asp-validation-for="MentorId" class="text-danger"></span>
            </div>

        

       

       

            <button type="submit">Sign Up</button>

        </form>
    </div>
</div>





<footer>
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                &copy; Ngee Ann Polytechnic. All rights reserved.<br> 535, Clementi Road, S599489.<br>
                <a href="www.np.edu.sg">www.np.edu.sg</a>
            </div>
        </div>
    </div>
</footer>



</body>
</html>


@*@model WebAssignment_2019_P03_Team06.Models.Student

    @{
        ViewData["Title"] = "Create";
    }

    <h2>Create</h2>

    <h4>Student</h4>
    <hr />
    <div class="row">
        <div class="col-md-4">
            <form asp-action="Create">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="StudentId" class="control-label"></label>
                    <input asp-for="StudentId" class="form-control" />
                    <span asp-validation-for="StudentId" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Name" class="control-label"></label>
                    <input asp-for="Name" class="form-control" />
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Gender" class="control-label"></label>
                    <input asp-for="Gender" class="form-control" />
                    <span asp-validation-for="Gender" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="DOB" class="control-label"></label>
                    <input asp-for="DOB" class="form-control" />
                    <span asp-validation-for="DOB" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Email" class="control-label"></label>
                    <input asp-for="Email" class="form-control" />
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Password" class="control-label"></label>
                    <input asp-for="Password" class="form-control" />
                    <span asp-validation-for="Password" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Photo" class="control-label"></label>
                    <input asp-for="Photo" class="form-control" />
                    <span asp-validation-for="Photo" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="MentorId" class="control-label"></label>
                    <input asp-for="MentorId" class="form-control" />
                    <span asp-validation-for="MentorId" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Description" class="control-label"></label>
                    <input asp-for="Description" class="form-control" />
                    <span asp-validation-for="Description" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Achievement" class="control-label"></label>
                    <input asp-for="Achievement" class="form-control" />
                    <span asp-validation-for="Achievement" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="externalLink" class="control-label"></label>
                    <input asp-for="externalLink" class="form-control" />
                    <span asp-validation-for="externalLink" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input type="submit" value="Create" class="btn btn-default" />
                </div>
            </form>
        </div>
    </div>

    <div>
        <a asp-action="Index">Back to List</a>
    </div>*@

