
@{
    ViewData["Title"] = "LecturerMain";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div>
    <h1 style="text-align: center">Welcome</h1>
    <img src="~/images/MasterLecturer.jpg" alt="Background Image" width="600" height="430" class="img-fluid" style="display:block; padding-bottom:5px; margin:auto;">
    
</div>