
@{
    ViewData["Title"] = "StudentMain";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="center">
    <img src="~/images/BG_image.png" alt="Background Image" width="600" height="430">
</div>



