
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@

<div class="topnav">
    <a class="active" href="~/Home/LecturerMain">HOME</a>
    <a href="~/Lecturer/StudentProfile">STUDENT PROFILE</a>
    <a href="~/Lecturer/Sent">SENT</a>
    <a href="~/Lecturer/ChangePassword">CHANGE PASSWORD</a>
    <div class="login-container">
        <a class="active" href="~/Home/LogOut">Log Out</a>
    </div>
</div>