@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@

<div class="topnav">
    <a class="active" href="/Home/StudentMain">HOME</a>
    <a href="/Student/Index">EDIT PROFILE</a>
    <a href="~/Projects/Index">PERSONAL PROJECT</a>
    <a href="/Student/Feedback">FEEDBACK</a>
    <a href="/Student/SkillSet">SKILLSET</a>
    <div class="login-container">
        <a href="~/Home/LogOut" class="active">Log Out</a>
    </div>
</div>



